.container
  %span
  %h3 #{@contact.name.split.each{|i| i.capitalize!}.join(' ')}, we have received your message. 
  %br
  %br
  = image_tag 'hand.png', :size => '128x128'
  %br
  %br
  %br
  %p Thank you and we'll get back to you within the next 24 business hours.
  %br
  %hr
