.jumbotron10
	.container
		.row
			/ #logo-box
			/ 	.logo1
			/ 		%h1 
			/ 		%a.smoothScroll{name: "index"}
			/ 		= link_to ('PF')
		.row
			#foot-box
				.testim1
					%h2 
					= link_to image_tag('nytimes.png'), :size => '120x30'
				.testim2
					%h2 
					= link_to image_tag('huff.png'), :size => '120x30'
				.testim2
					%h2 
					= link_to image_tag('techcrunch.png'), :size => '120x30'
				.testim2
					%h2 
					= link_to image_tag('nbc.png'), :size => '120x30'
				
			/ #logo-box1
			/ 	.logo1
			/ 		%h1 
			/ 		%a.smoothScroll{name: "#index"}
			/ 		= link_to ('PF')
			/ #logo-box2
			/ 	.logo2
			/ 		%h1 
			/ 		%a.smoothScroll{name: "#index"}
			/ 		= link_to ('PF')
	%hr


			
			 
  
  