
.jumbotron
  %div 
  .col-md-12 
    %h1 
      %a{href: '#index'} PRIVATE FLITE
      %br
      
    #jet-logo
      = image_tag('jet-logo.png')  
    #text
      %h5 Why Fly with Us
      %hr
      %p We're a full-service private jet charter company that offers the personal service and reliability of fractional ownership with the flexibility, simplicity and choice of on-demand charter. The company services the globe with a full suite of air charter and related services.

    .container
      .row
        %table
          %tr
          / %td
          /   %a.smoothScroll{href: "#flywithus"} Fly 
          %td
            %a.smoothScroll{href: "#featured"}  Featured
          %td
            %a.smoothScroll{href: "#private"}   Private
          %td
            %a.smoothScroll{href: "#airtaxi"}   Airaxi
          %td
            %a.smoothScroll{href: "#aboutus"}   About 
          %td
            %a.smoothScroll{href: "#team"}      Team 
          %td
            %a.smoothScroll{href: "#safety"}    Safety
          %td
            %a.smoothScroll{href: "#quote"}     Quote
          %td
            %a.smoothScroll{href: "#success"}   Success
          %td
            %a.smoothScroll{href: "#contactus"} Contact
  

