/ %a{href: "#top"}

.jumbotron
  %div 
  .col-md-12 
    %h1 
      %a{href: '#index'} PRO FLITE

  %div
    %table
      %tr
      %td
        %a.smoothScroll{href: "#flywithus"} Fly with Us
      %td
        %a.smoothScroll{href: "#featured"} Featured
      %td
        %a.smoothScroll{href: "#success"} Success
      %td
        %a.smoothScroll{href: "#private"} Private
      %td
        %a.smoothScroll{href: "#airtaxi"} Air Taxi
      %td
        %a.smoothScroll{href: "#aboutus"} About Us
      %td
        %a.smoothScroll{href: "#safety"} Safety
      %td
        %a.smoothScroll{href: "#quote"} Get a Quote
      %td
        %a.smoothScroll{href: "#contactus"} Contact Us
    