
.jumbotron
  %div 
  .col-md-12 
    %h1 
      %a{href: '#index'} PRIVATE FLITE
.container
  .row
    %table
      %tr
      %td
        %a.smoothScroll{href: "#flywithus"} Fly 
      %td
        %a.smoothScroll{href: "#featured"}  Featured
      %td
        %a.smoothScroll{href: "#private"}   Private
      %td
        %a.smoothScroll{href: "#airtaxi"}   Airaxi
      %td
        %a.smoothScroll{href: "#aboutus"}   About 
      %td
        %a.smoothScroll{href: "#team"}      Team 
      %td
        %a.smoothScroll{href: "#safety"}    Safety
      %td
        %a.smoothScroll{href: "#quote"}     Quote
      %td
        %a.smoothScroll{href: "#success"}   Success
      %td
        %a.smoothScroll{href: "#contactus"} Contact
  

